@import url(https://fonts.googleapis.com/css?family=Oswald|Open+Sans:600,300italic,300|Open+Sans+Condensed:300italic);
$images: '../images';
$color-bg: #351A13;
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.heading-font {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
/*

General Styling

*/
html,
body {
  height: 100%;
}
body {
  font-weight: 300;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
.author-title,
.entry-title {
  @extend .heading-font;
  color: $brand-primary;
  font-size: 26px;
  text-transform: none;
}
h2 {
  font-weight: 600;
  text-transform: uppercase;
  color: #2C473F;
  font-size: 21px;
}
h3 {
  font-style: italic;
  font-size: 21px;
}
h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 21px;
  color: #BBBDC0;
}
a {
  font-weight: 600;
  transition: color 50ms ease;
}
.container {
  @media (min-width: $screen-sm-min) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.wrap {
  background-color: #fff;
  padding-bottom: 50px;
}
.btn-primary {
  border: none;
  transition: background-color 100ms ease;
}
.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
 ::selection {
  background: lighten($brand-primary, 30%);
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=url],
.comment-form textarea,
.form-control,
.search-form .search-field {
  box-shadow: none;
}
/*

Header Styling

*/
.navbar-default {
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.4);
  border: none;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    background-image: url("#{$images}/header-bg.jpg");
    background-position: center center;
    background-size: 1500px;
    background-color: $color-bg;
  }
  .navbar-header {
    background-image: url("#{$images}/header-bg.jpg");
    background-position: center center;
    background-size: 1500px;
    background-color: $color-bg;
    float: none;
    @media (min-width: $screen-md-min) {
      background: none;
      display: inline-block;
    }
    .navbar-brand {
      background-image: url("#{$images}/logo.png");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 180px;
      height: 32.5px;
      margin: 20px 0 20px 15px;
      @media (min-width: $screen-xs-min) {
        width: 320px;
        height: 58px;
        margin: 20px 0 20px 15px;
      }
      @media (min-width: $screen-sm-min) {
        width: 320px;
        height: 58px;
        margin: 26px 0 20px 0;
      }
    }
  }
  .navbar-collapse {
    background-color: $color-bg;
    border: none;
    box-shadow: none;
    @media (min-width: $screen-sm-min) {
      background-color: transparent;
    }
    @media (min-width: $screen-md-min) {
      float: right;
    }
    .menu-main-container {
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      @media (min-width: $screen-md-min) {
        margin-top: 29px;
      }
    }
    .social-menu {
      font-size: 30px;
      margin-bottom: 20px;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
        margin-left: 5px;
        margin-bottom: 0;
      }
      @media (min-width: $screen-md-min) {
        margin-top: 33px;
      }
      ul {
        margin: 0;
        text-align: center;
        a {
          color: #fff;
          &:hover {
            color: $brand-primary;
          }
        }
      }
    }
  }
  .navbar-nav {
    @media (min-width: $screen-sm-min) {
      float: none;
    }
    @extend .heading-font;
    text-transform: uppercase;
    li>.dropdown-menu {
      border-radius: 0;
      li {
        font-size: 16px;
      }
    }
    li {
			text-transform: uppercase;
			.dropdown-toggle {
				display: inline-block;
			}
			.caret-toggle {
				display: inline-block;
				background-color: rgba(0,0,0,.2);
				border-radius: 6px;
				float: right;
				margin: 5px 15px 5px 0px;
				padding: 5px 30px;
				&:hover, &:focus {
					background-color: rgba(0,0,0,.2);
				}
				@media (min-width: $screen-sm) {
					display: none;
				}
			}
			&.open .dropdown-menu {
				@media (max-width: $screen-sm) {
					position: static;
					float: none;
					width: auto;
					margin-top: 0;
					background-color: transparent;
					border: 0;
					box-shadow: none;
					background-color: rgba(0,0,0,.2);
					border-radius: 6px;
					margin: 0 15px;
					li {
						a {
							color: #fff;
							&:hover {
								background: transparent;
							}
						}
					}
				}
			}
		}
  }
  .navbar-toggle {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 24px;
    margin: 37px 30px;
    border: none;
    padding: 0;
    &:hover,
    &:focus {
      background-color: transparent;
    }
    @media (max-width: 479px) {
      margin: 24px 25px;
    }
    @media (min-width: $screen-sm-min) {
      display: none;
    }
    .bars {
      margin: 0 auto;
      position: relative;
      width: 25px;
      height: 4px;
      background-color: #fff;
      display: block;
      transition-duration: 0s;
      transition-delay: 0.2s;
      &:before,
      &:after {
        position: absolute;
        content: '';
        width: 25px;
        height: 4px;
        background-color: #fff;
        display: block;
      }
      &:before {
        margin-top: -10px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
      &:after {
        margin-top: 10px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
  }
  .navbar-toggle.active {
    .bars {
      background-color: rgba(0,0,0,0.0);
      transition-delay: 0.2s;
      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }
      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }
}
@media (min-width: $screen-sm-min) {
  .sidebar-nav {
    padding: 9px 0;
  }
  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
  }
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .nav-tabs .dropdown-menu,
  .nav-pills .dropdown-menu,
  .navbar .dropdown-menu {
    margin-top: 0;
  }
  .navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
  }
  .navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
  }
}
/*

Page & Post Styling

*/
.page-header {
  border: none;
  margin: 50px 0 10px;
  padding: 0;
  h1 {
    color: $color-bg;
    font-size: 48px;
  }
}
.main {
  .share {
    font-weight: 600;
    margin: 10px 0 40px;
    span {
      position: relative;
      top: -4px;
      padding-right: 10px;
    }
    .addthis_toolbox {
      display: inline-block;
      display: inline-block;
      font-size: 30px;
      border-left: 2px solid;
      line-height: 20px;
      padding-left: 10px;
      transition: color 50ms ease;
      a {
        color: $text-color;
        padding: 0 5px;
        &:hover {
          color: darken($text-color, 10%);
        }
      }
      .addthis_button_twitter {
        padding: 0 0 0 5px;
      }
    }
  }
}
.sidebar {
  padding-top: 30px;
  h3 {
    @extend h1;
    font-style: normal;
  }
}
.title-background,
.author-title-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 360px;
  position: relative;
  padding: 15px;
  box-shadow: inset 0 -50px 200px 0 rgba(0,0,0,.5);
  @media (min-width: $screen-sm-min) {
    height: 520px;
    margin: 0 -15px;
    padding: 30px;
  }
  @media (max-width: 479px) {
    height: 270px;
  }
  .entry-title {
    margin: 0;
    position: absolute;
    bottom: 30px;
    font-size: 60px;
    color: #fff;
    @media (max-width: 479px) {
      font-size: 40px;
      bottom: 15px;
    }
  }
}
.author-sidebar {
  padding-top: 20px;
  padding-bottom: 30px;
  .author-profile-photo {
    margin-bottom: 10px;
    width: 200px;
  }
  .author-bio {
    font-size: 15px;
  }
  @media (min-width: $screen-md-min) {
    padding-left: 35px;
  }
  h3 {
    @extend .heading-font;
    color: #fff;
    background-color: $brand-primary;
    text-transform: none;
    font-style: normal;
    font-size: 26px;
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: $screen-md-min) {
      margin-left: -20px;
      margin-right: -30px;
      padding: 10px 20px;
    }
  }
  .author-social {
    margin: 30px 0 50px;
    h4 {
      color: $brand-primary;
      font-family: $font-family-sans-serif;
      font-style: normal;
      font-weight: 600;
    }
    ul {
      margin: 0;
      li {
        padding: 0;
        a {
          font-size: 30px;
          color: $text-color;
          margin: 0 20px 0 0;
          @media (min-width: $screen-sm-min) {
            margin: 0 12px 0 0;
          }
          @media (min-width: $screen-md-min) {
            margin: 0 20px 0 0;
          }
          &:hover {
            color: darken($text-color, 10%);
          }
        }
      }
    }
    .btn {
      margin-top: 15px;
    }
  }
  ul.author-more {
    li {
      border-bottom: 2px solid #8BCFBB;
      padding: 20px 0;
      a {
        h4 {
          font-size: 22px;
          text-transform: uppercase;
          font-weight: 600;
          font-family: $font-family-sans-serif;
          font-style: normal;
          color: $text-color;
          transition: color 50ms ease;
          &:hover {
            color: darken($text-color, 10%);
          }
        }
      }
      .entry-summary {
        font-size: 15px;
      }
      &:last-child {
        border-bottom: none;
        padding: 20px 0 5px;
      }
      &:first-child {
        padding: 10px 0 20px;
      }
      .btn {
        margin: 10px 0 0;
      }
    }
  }
  ul.author-more.similiar-authors {
    li {
      font-size: 22px;
      text-transform: uppercase;
    }
  }
}
.comments {
  .comment-list {
    .comment-metadata {
      font-size: 14px;
      text-transform: uppercase;
      a {
        color: $text-color;
        &:hover {
          color: darken($text-color, 10%);
        }
      }
    }
    .comment-content {
      margin: 20px 0;
    }
    .reply {
      margin: 25px 0;
      a {
        @extend .btn-primary;
        @extend .btn;
      }
    }
  }
  .comment-respond {
    // border-top: 1px solid $gray-lighter;
    .comment-reply-title {
      @extend h2;
      font-style: normal;
      font-family: $font-family-sans-serif;
    }
  }
  h2 {
    border-top: 1px solid #eee;
    padding-top: 25px;
    margin-top: 25px;
  }
}
.quote-bg {
  text-align: center;
  font-style: italic;
  font-size: 24px;
  padding: 65px 0;
  @media (min-width: $screen-sm-min) {
    margin: 0 -30px;
  }
  a {
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
.featured-article {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 360px;
  position: relative;
  box-shadow: inset 0 -50px 200px 0 rgba(0,0,0,.5);
  margin: 0 -15px;
  padding: 0 15px;
  transition: opacity 100ms ease;
  &:hover {
    opacity: 0.9;
  }
  @media (min-width: $screen-sm-min) {
    height: 520px;
    margin: 0 -30px;
    padding: 0 30px;
  }
  @media (max-width: 479px) {
    height: 270px;
  }
  .featured-title {
    position: absolute;
    bottom: 30px;
    @media (max-width: 479px) {
      bottom: 15px;
    }
    .entry-title {
      margin: 0;
      font-size: 60px;
      color: #fff;
      display: inline-block;
      padding-right: 15px;
      @media (max-width: 479px) {
        font-size: 40px;
      }
    }
    .entry-author {
      @extend h4;
      color: #fff;
      font-size: 40px;
      @media (max-width: 479px) {
        font-size: 30px;
      }
    }
  }
}
.featured-quote {
  background-color: $brand-primary;
  color: #fff;
  margin-bottom: 10px;
}
.article-list {
  article {
    padding: 20px 0;
    .entry-image-wrapper {
      position: relative;
      width: 100%;
      &:after {
        padding-top: 63.8%;
        display: block;
        content: '';
      }
      .entry-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20px;
        transition: opacity 100ms ease;
        &:hover {
          opacity: 0.9;
        }
        @media (max-width: 479px) {
          padding: 15px;
        }
        .entry-image-title {
          position: absolute;
          bottom: 20px;
          @extend h1;
          margin: 0;
          font-size: 60px;
          color: #fff;
          @media (max-width: 479px) {
            font-size: 40px;
            bottom: 15px;
          }
        }
      }
    }
    header {
      padding-bottom: 5px;
      .entry-title {
        @media (min-width: $screen-sm-min) {
          padding-right: 10px;
          display: inline-block;
        }
      }
      .entry-author a {
        @extend h4;
        &:hover {
          color: darken(#BBBDC0, 10%);
        }
      }
    }
    .entry-read-more {
      padding: 5px 0 0;
    }
    &.resource {
      p {
        font-size: 16px;
      }
    }
  }
}
.divider-quote {
  background-color: $color-bg;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.posts-navigation {
  padding: 20px 0;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
  .nav-previous a {
    @extend .btn-primary;
    @extend .btn;
    margin: 0 0 20px;
    @media (min-width: $screen-sm-min) {
      margin: 15px 0 0;
      float: left;
    }
    &:before {
      content: '\f053';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 400;
      text-decoration: inherit;
      padding-right: 10px;
      position: relative;
      top: 1.5px;
    }
  }
  .nav-next a {
    @extend .btn-primary;
    @extend .btn;
    margin: 0 0 20px;
    @media (min-width: $screen-sm-min) {
      margin: 15px 0 0;
      float: right;
    }
    &:after {
      content: '\f054';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: 400;
      text-decoration: inherit;
      padding-left: 10px;
      position: relative;
      top: 1.5px;
    }
  }
}
.author-article-list {
  margin-top: 30px;
  .author-article {
    margin-bottom: 40px;
    .author-article-image-wrapper {
      position: relative;
      width: 100%;
      &:after {
        padding-top: 45%;
        display: block;
        content: '';
        @media (max-width: 479px) {
          padding-top: 55%;
        }
      }
      .author-article-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20px;
        transition: opacity 100ms ease;
        &:hover {
          opacity: 0.9;
        }
        @media (max-width: 479px) {
          padding: 15px;
        }
        .entry-title {
          position: absolute;
          bottom: 20px;
          @extend h1;
          margin: 0;
          font-size: 60px;
          color: #fff;
          @media (max-width: 479px) {
            font-size: 40px;
            bottom: 15px;
          }
        }
      }
    }
    .author-article-content {
      margin-top: 20px;
      a {
        float: right;
        @media (max-width: 479px) {
          display: none;
        }
      }
    }
  }
}
#tweets {
  font-size: 15px;
  li {
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 15px;
    &:last-child {
      border-bottom: none;
    }
  }
}
body.author {
  .main {
    @media (min-width: 768px) {
      width: 66.6666666667%;
    }
  }
  .author-sidebar {
    padding-top: 0;
    .twitter-title {
      @extend .heading-font;
      background-color: transparent;
      color: $brand-primary;
      padding: 0 15px;
      margin-bottom: 20px;
      @media (min-width: $screen-md-min) {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
      }
    }
  }
}
.author-list {
  margin-bottom: 30px;
  img {
    transition: opacity 100ms ease;
    width: 100%;
    &:hover {
      opacity: 0.9;
    }
  }
  .author-title {
    transition: color 50ms ease;
    &:hover {
      color: darken($brand-primary, 10%);
    }
  }
}
.page {
  .sidebar {
    h3 {
      @extend .heading-font;
      color: #fff;
      background-color: $brand-primary;
      text-transform: none;
      font-style: normal;
      font-size: 26px;
      padding: 10px 15px;
      margin: 20px -15px;
      @media (min-width: $screen-md-min) {
        margin-left: 0;
        margin-right: -30px;
        padding: 10px 20px;
      }
    }
    ul {
      padding-left: 20px;
      li {
        list-style: none;
        border-left: 3px solid $brand-primary;
        margin: 12px 0;
        padding: 0 0 0 10px;
        a {
          color: $text-color;
          &:hover {
            color: darken($text-color, 10%);
          }
        }
      }
    }
  }
}
.resource-social {
  margin: 30px 0 50px;
  h4 {
    color: $brand-primary;
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 600;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      border: none;
      a {
        font-size: 30px;
        color: $text-color;
        margin: 0 20px 0 0;
        @media (min-width: $screen-sm-min) {
          margin: 0 12px 0 0;
        }
        @media (min-width: $screen-md-min) {
          margin: 0 20px 0 0;
        }
        &:hover {
          color: darken($text-color, 10%);
        }
      }
    }
  }
  .btn {
    margin-top: 15px;
  }
}
.post-type-archive-resource,
.tax-resource-type,
.single-resource {
  .title-background {
    background-image: url("../images/resource-title.jpg");
    height: 260px;
  }
}
.type-resource {
  .entry-image-wrapper {
    &:after {
      padding-top: 100%;
    }
  }
  h2 {
    margin-top: 0;
  }
}
.single-resource {
  .entry-content {
    img {
      float: left;
      margin: 0 20px 20px 0;
    }
    .embed-responsive {
      margin: 20px 0;
    }
  }
}
.resource-header {
  margin-top: 30px;
  .resource-tags {
    margin-top: 15px;
  }
}
.resource-sidebar {
  @media (min-width: $screen-sm-min) {
    padding-left: 35px;
  }
  h2 {
    font-family: Oswald,sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #4B8473;
    text-transform: none;
    font-style: normal;
    font-size: 26px;
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: $screen-sm-min) {
      margin-left: -20px;
      margin-right: -30px;
      padding: 10px 20px;
    }
  }
  .resource-rss {
    ul {
      @extend .list-unstyled;
      li {
        border-bottom: 2px solid #8BCFBB;
        padding: 20px 0;
        margin: 0;
        border-left: none;
        h3 {
          font-size: 22px;
          text-transform: uppercase;
          font-weight: 600;
          font-style: normal;
          margin-top: 12.5px;
          margin-bottom: -10px;
          a {
            color: #6D6E70;
          }
        }
        .rss_excerpt {
          display: none;
        }
        &:first-child {
          padding: 10px 0 20px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
body.woocommerce {
  .page-title {
    font-size: 48px;
    color: $color-bg;
    margin-top: 50px;
  }
  .product form.cart .button,
  .button {
    @extend .btn;
    @extend .btn-primary;
  }
  .product {
    margin-top: 50px;
  }
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  @extend .btn;
  @extend .btn-primary;
}

.featured {
  .hero {
    display: flex;
    background: #eee;
    margin: 0 -30px;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    @media (min-width: $screen-sm-min) {
      padding: 50px 30px;
    }
    .item-1,
    .item-2 {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      width: 50%;
      padding: 0 30px;
    }
    .item-1 {
      margin-right: 30px;
      *:first-child {
        margin-top: 0;
      }
      p:first-of-type {
        display: none;
        @media (min-width: $screen-sm-min) {
          display: block;
        }
      }
    }
    .item-2 {
      justify-content: center;
    }
    h1 {
      color: #fff;
      font-size: 60px;
      @media (max-width: 479px) {
        font-size: 40px;
      }
    }
  }
}

/*

Footer Styling

*/
.content-info {
  background-image: url("#{$images}/header-bg.jpg");
  background-position: center center;
  background-size: 1500px;
  background-color: $color-bg;
  color: #fff;
  .footer-logo-wrapper {
    position: relative;
    width: 100%;
    max-width: 470px;
    margin: 32px auto 0;
    &:after {
      padding-top: 18%;
      display: block;
      content: '';
    }
    @media (min-width: $screen-sm-min) {
      float: left;
      margin: 46px auto;
      max-width: 320px;
    }
    .footer-logo {
      background-image: url("#{$images}/logo.png");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  .footer-menu {
    text-transform: uppercase;
    margin: 25px 0 35px;
    text-align: center;
    @extend .heading-font;
    @media (min-width: $screen-sm-min) {
      float: right;
      margin: 55px 0 35px;
    }
    li {
      padding: 0 15px;
      &:last-child {
        padding: 0 0 0 15px;
      }
      a {
        color: #fff;
        &:hover {
          color: darken(#fff, 10%);
        }
      }
      @media (max-width: 479px) {
        display: block;
        padding: 10px 15px;
        &:last-child {
          padding: 10px 15px;
        }
      }
    }
  }
  .footer-copyrights {
    clear: right;
    font-size: 14px;
    text-align: center;
    margin-bottom: 14px;
    @media (min-width: $screen-sm-min) {
      float: right;
    }
  }
}
.gform_body {
  ul {
    padding-left: 0;
    li {
      border-left: none;
      margin: 0;
      padding: 0;
    }
  }
}
// Gravity Forms
//
//	Folkhack's Gravity Forms styling
//
//	Table of Contents:
//	- Variables/configuration
//	- General fixes
//	- Required *
//	- input, select, and textarea elemnt extends
//	- Button extend
//	- Error/notification messages handling
//	- Gravity Forms complex containers
//	- Weird-ass clear-multi shit
//	- Date fields
//	- Lists
//	- General Datepicker
//	- Folkhack's jQuery UI Datepicker: (DEPRECIATED!)
//  - Validation container
//
//
//	Based on:
//	- http://roots.io/style-gravity-forms-with-bootstrap/
//	- https://gist.github.com/Gavrisimo/8406309
//	- https://gist.github.com/spigists/6796258
//
//	TODO:
//	- Clean this up once Gravity Forms more-or-less gets their shit more together
//	- Rip apart provided Gravity Forms CSS and implement all specific feature-sets
//	- Better handling of date-fields, currently drop-down dates are AOK to use
//
//
//	Variables/configuration:
//
// Enables/disables jQuery UI datepicker (jQuery UI can go die in a fire...IMHO)
$fh_gf_jqueryui_datepicker_enabled: false !default;
// Setup a reasonable responsive break-point for complex fields
$fh_gf_responsive_break_at: $screen-sm-min !default;
//
//	General fixes:
//
// Field/form container styling:
.gform_wrapper ul {
  @extend .list-unstyled;
}
.gform_wrapper li {
  @extend .form-group;
}
.gform_wrapper form {
  margin-bottom: 0;
}
// Field container clear
.gfield {
  clear: both;
}
// Form description
.gform_heading .gform_description {
  display: block;
  margin: 0 0 10px;
}
// Radios/checks
.gfield_checkbox,
.gfield_radio {
  margin: 0 0 0 10px;
  label {
    font-weight: normal;
    margin-left: 10px;
  }
  li {
    margin-bottom: 0;
  }
}
// Multiple select and textarea height fixes
.ginput_container select[multiple] {
  height: auto;
}
.ginput_container textarea {
  height: auto;
}
//
//	Required *:
//
.gform_wrapper .gfield_required {
  color: $state-danger-text;
  padding-left: 1px;
}
//
//	input, select, and textarea elemnt extends:
//
.ginput_container input[type=text],
.ginput_container input[type=email],
.ginput_container input[type=number],
.ginput_container input[type=url],
.ginput_container input[type=tel],
.ginput_container input[type=date],
.ginput_container input[type=password],
.ginput_container select,
.ginput_container textarea {
  @extend .form-control;
}
//
//	Button extend:
//
.gform_button {
  @extend .btn;
  @extend .btn-primary;
}
//
//	Error/notification messages handling:
//
.gform_wrapper .gfield_error {
  .gfield_label {
    color: $state-danger-text;
  }
  input,
  select,
  textarea {
    background-color: $alert-danger-bg;
    border-color: $alert-danger-border;
    color: $alert-danger-text;
    @include form-control-focus( $alert-danger-text );
  }
}
.validation_error {
  @extend .alert;
  @extend .alert-danger;
}
.validation_message {
  font-style: italic;
  margin-top: 5px;
}
#gforms_confirmation_message {
  @extend .alert;
}
//
//	Gravity Forms complex containers:
//	- based on discussion from http://roots.io/style-gravity-forms-with-bootstrap/
//	- HELLA refactored to SCSS/responsive sanity =/
//
.ginput_complex {
  // Add a 10px gray border to the left side of complex groupings
  border-left: 10px $gray-lighter solid;
  display: block;
  padding: 10px 0 0 20px;
  // Fix label font weight and top spacing
  label {
    font-weight: normal;
    margin: 5px 0 15px;
  }
  span:last-of-type label {
    margin: 5px 0 0;
  }
  // Full-width container
  .ginput_full {
    width: 100%;
  }
  // Left/right containers (ex: first/last name)
  .ginput_left,
  .ginput_right {
    float: left;
    width: 50%;
  }
  // Inputs and labels
  .ginput_full {
    input,
    label {
      width: 100% !important;
    }
  }
  .ginput_left {
    input,
    select,
    textarea,
    label {
      width: 95% !important;
    }
  }
  // Responsive break for full-width input fields
  @media screen and ( max-width: $fh_gf_responsive_break_at ) {
    .ginput_full,
    .ginput_left,
    .ginput_right {
      float: none;
      width: 100% !important;
      input {
        width: 100% !important;
      }
      label {
        width: 100% !important;
      }
    }
  }
}
// Add BS3 clearfix
.gf_clear_complex {
  @extend .clearfix;
}
//
//	Weird-ass clear-multi shit:
//
.clear-multi {
  display: table;
  // Add BS3 clearfix
  @extend .clearfix;
  // Time/date fields
  // - consider refactoring to be wrapped in .gfield_time_* and .gfield_date_*
  //   keeping non-wrapped due to compiled CSS bloat. Keep an eye on this!
  .ginput_container {
    display: table-cell;
    padding-left: 5px;
    input {
      width: 70px;
    }
    select {
      width: 80px;
    }
    // Disable the labels for time (yeahhh no need really)
    label {
      display: none;
    }
  }
  .ginput_container:first-child {
    padding-left: 0;
  }
  // This is hack-y but fixes a rendering bug on Chrome
  // TODO: clean this up
  .gfield_time_hour,
  .gfield_time_minute,
  .gfield_time_ampm {
    float: left;
  }
  // Inline block so that input element aligns properly with ":"
  .gfield_time_hour input {
    display: inline-block;
  }
  //
  //	Date fields
  //
  .gfield_date_month,
  .gfield_date_day,
  .gfield_date_year {
    // Re-enable the date field labels
    label {
      display: block;
      font-weight: normal;
    }
  }
}
//
//	Lists:
//
.gfield_list {
  // Offset the top padding for the cell spacing
  margin-top: -5px;
  tr .gfield_list_cell {
    padding: 5px 0;
  }
  .gfield_list_icons {
    vertical-align: middle !important;
    width: 60px;
    img {
      float: left;
    }
  }
}
//
//	General Datepicker:
//
.gfield .datepicker {
  display: inline-block !important;
  width: 170px !important;
}
//
//	Folkhack's jQuery UI Datepicker: (DEPRECIATED!)
//	- hide jQuery UI datepicker in lieu of using the HTML type="date" option
//	- left this around just-in-case
//
@if( $fh_gf_jqueryui_datepicker_enabled ) {
  // Local defaults from "Folkhack's Boilerplate"
  //	* Allows for stand-alone use
  //	* TODO: nix this ... I think I'm totally done f'n with jQuery UI
  $k_black: #000000 !default;
  $k_white: #FFFFFF !default;
  $k_mineshaft: #303030 !default;
  $k_silver: #CCCCCC !default;
  $k_whitesmoke: #F5F5F5 !default;
  .ui-datepicker-trigger {
    display: inline-block;
    margin-left: 5px;
  }
  .ui-widget {
    background: $k_mineshaft;
    box-shadow: 1px 4px 9px $k_silver;
  }
  .ui-datepicker {
    font-family: Verdana, sans-serif;
    font-size: 90% !important;
    padding: 0;
    a:hover {
      text-decoration: none;
    }
    .ui-datepicker-header {
      background: transparent;
      border: none;
      font-weight: normal;
      padding: 3px;
      a {
        color: $k_white;
        text-transform: uppercase;
      }
    }
    .ui-datepicker-header .ui-datepicker-title {
      text-align: center;
    }
    .ui-datepicker-month {
      margin-right: 5px;
    }
    .ui-datepicker-next {
      float: right;
      right: 2px;
    }
    .ui-datepicker-prev {
      float: left;
      left: 2px;
    }
    .ui-datepicker-next,
    .ui-datepicker-prev {
      cursor: pointer;
      top: 3px;
      span {
        font-size: 10px;
        font-weight: normal;
        margin-top: 0;
        position: relative;
        top: 0;
      }
    }
    table {
      margin: 0;
    }
    th {
      border-top: 1px solid $k_silver;
      border: none;
      color: $k_silver;
      font-size: 13px;
      font-weight: normal;
      padding: 3px 0;
      text-align: center;
    }
    td {
      background: $k_whitesmoke;
      border: none;
      color: $k_mineshaft;
      padding: 0;
      text-align: center;
    }
    td .ui-state-default {
      background: transparent;
      border: none;
      display: block;
      margin: 0;
      padding: 0.5em;
      text-align: center;
    }
    td .ui-state-active,
    td .ui-state-hover {
      background: $k_white;
    }
    .ui-state-disabled {
      opacity: 1;
    }
  }
}
@else {
  // Hide jQuery UI datepicker
  .ui-datepicker,
  .ui-datepicker-trigger {
    display: none !important;
  }
}
// Honeypot validation container
// - hides .gform_validation_container
.gform_validation_container {
  display: none;
}
