// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #4B8473;

//== Scaffolding

//** Background color for `<body>`.
$body-bg: #f1f2f2;
//** Global text color on `<body>`.
$text-color: #6D6E70;

//** Link hover decoration.
$link-hover-decoration: none;

// Fonts
$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-size-base:          18px;

// Navbar Links
$navbar-default-link-color:                #fff;
$navbar-default-link-hover-color:          darken(#fff, 10%);
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            transparent;


// Buttons
$btn-font-weight: 600;

$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;


// Forms
$input-border-radius: 0;
$input-border-radius-large: 0;
$input-border-radius-small: 0;

$input-border-focus: lighten($brand-primary, 20%);